@font-face {
    font-family: 'Kalam', cursive;
    src: url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Kalam', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.index header a, .contact-btn{
    text-decoration: none;
    color: white;
}
.contact-btn:hover{
    color: #0d6efd;
}
.index{
    background-color:#273141 ;
}
.index-nav a{
    background-color: white;
    font: bold 18px  'Kalam';
    color:#273141 ;
    border: 1px solid;
    padding: 5px;
    width: 100px;
    text-decoration: none;
    border-radius: 20px;
}
sup{
    font-size: 12px;
    top: -1.5em;
    right: 1em;
}

/*------------------- Name Page ----------------------------- */

.name header a, .game button a{
 text-decoration: none;
 color: #273141;
}
.name-main-fdiv{
    background-color:#273141;
    min-height:100vh; 
    max-width: 300px;
}
#mypic{
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
}
.personal-background{
    font-family: 'Times New Roman', Tahoma, Geneva, Verdana, sans-serif;
    color: #273141;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: start;
    padding-left: 0;
}
.personal-background h6{
    background-color: #273141;
    border-radius: 0 5px 5px 0;
    color: white;
    padding: 5px 10px;
    width: 250px;
    font-style: italic;
}
.personal-background p, .personal-background li{
    margin-left: 3rem;
}
.personal-background li{
    font-weight: bold;
}
nav li{
    list-style: none;
    padding: 5px;
}
nav li a{
    text-decoration: none;
    color: white;
}
.nav-active{
    text-decoration: underline;
}
.carousel-text{
    text-indent: 2rem;
}
.email{
    text-decoration: none;
}
#download-btn{
    background-color: #273141;
}
.btn-text{
    text-decoration: none;
    color: white;
}
#sidebar{
    background-color: #273141;
}
#sidebar span{
    background-color: white;
}
#indicator1, #indicator2, #indicator3{
    background-color: #273141;
}

/**---------------------------- Typewriter Effect----------------**/

.typewrite .wrap{
    animation:blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes blinkTextCursor{
    from{border-right: 0.2em solid #fff;}
    to{border-right:0.2em solid transparent;}
  }

/**---------------------------- Project Page ---------------------------**/

.project-body header a{
    text-decoration: none;
    color: #273141;
}
.projects{
    margin-top: 5rem;
}
.projects h3,.projects h4, .projects p{
    color: #273141;
}
.projects .card{
    box-shadow: 0px 0px 5px #273141;

}
.github-icon{
    background-color: #273141;
}
.live-site{
    background-color: #273141;
}

/**---------------------------------Sudoku ----------------------*/

hr {
    max-width: 500px;
}
#board1, #board2, #board3, #board4, #board5, #board6{
    width: 440px;
    height: 430px;

    margin: 0 auto;
}
#board1{
    display: flex;
    flex-wrap: wrap;
}
#board2, #board3, #board4, #board5, #board6, #board7{
    display: none;
    flex-wrap: wrap;
}
#loader{
    display: flex;
}
.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid white;
    font: bold 30px "Segoe ui","Tahoma";
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 45px; 
    height: 45px;
    border: 1px solid white;
    margin: 2px;
    font: bold 30px "Segoe ui","Tahoma";
    display: flex;
    justify-content: center;
    align-items: center;
}
.hideDigit{
visibility: hidden;
}
.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: black;
}

.horizontal-line {
    border-bottom: 5px solid white;
}

.vertical-line {
    border-right: 5px solid white;
}
.modal-title, .modal-body{
    color: #273141;
}
.modal-cont label img{
    width: 25px;
}
.modal-btn-lock-1, .modal-btn-lock-2, .modal-btn-lock-3, .modal-btn-lock-4, .modal-btn-lock-5, .modal-btn-lock-6{
    display: block;
    background-color: #273141;
    border: 1px solid #fff;
}
.modal-btn-unlock-1, .modal-btn-unlock-2, .modal-btn-unlock-3,.modal-btn-unlock-4, .modal-btn-unlock-5, .modal-btn-unlock-6{
    display: none;
    background-color: #273141;
    border: 1px solid #fff;
}
#email-icon{
    background-color: #273141;
}
.aboutme-parag{
    text-indent: 3rem;
}

/**-------------------------------- Booked Appoinment---------------**/
.formError{
    display: none;
    flex-direction: column;
    text-align: end;
    color: red;
}
#date {
    width: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dateTile {
    width: 48px; 
    height: 48px;
    border: 1px solid #273141;
    /* font: bold 20px "Segoe ui","Tahoma"; */
    color: #273141;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.week-number{
    background-color: rgb(146, 146, 146);
    color: white;
}
.weekend{
    background-color: rgb(255, 1, 1);
    color: white;
}
.week-header{
    background-color: #273141;
    color: #fff;
    border: 2px solid black;
}
.timeList{
    cursor: pointer;
}
#time-input{
    width: 100px;
}
.date-selected {
    background-color: rgb(13, 255, 13);
    color: #fff;
}
#messageSent{
    color:#273141
}
#dateError{
    text-align: center;
}
#sending{
    display: none;
}

/**---------------------------------Media Queries --------------------**/

@media screen  and (max-width:991px) {
    .name-main-fdiv{
        height:100%; 
    }
}

@media screen  and (max-width:585px) {
    #board1,  #board2, #board3, #board4, #board5, #board6, #board7{
        width: 330px;
        height: 320px;
    }
    .tile {
        width: 36px;
        height: 36px;
        font-size: 20px;
    }
    #digits {
        width: 315px;
        height: 35px;
    }
    .number {
        width: 33px;
        height: 33px;
        margin: 1px;
        font-size: 20px;
    }
    .modal-cont label img{
        width: 18px;
    }
    #date {
        width: 320px;
    }
    .dateTile{
        width:36px;
        height:36px;
        font-size:15px;
    }
}